


*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.keys{
   display: flex;
}


body{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgb(21, 21, 21);
    border-radius: 20px;
}

.alpha{
  /* padding-bottom:30px; */
  position:absolute;
}
.custom-btn {
  height: 20rem;                
  width: 5rem;                 
  background-color: #f3f4f6;  
  border-bottom-left-radius: 0.75rem;     
  border-bottom-right-radius: 0.75rem; 
  border: 1px solid #e5e7eb;   
  border-bottom: 12px solid #2F3446;

  transition: all 0.2s ease;   
}

.custom-btn:hover {
  border-bottom-width: 1px;    
}

.black-key {
  width: 3rem;
  height: 12rem;
  background-color: rgb(50, 50, 50);
  border-bottom:12px solid rgb(0, 0, 0);
  border-left:0px solid rgb(0, 0, 0);
  border-right:0px solid rgb(0, 0, 0);
  /* border-width: 0px 6px 10px 6px; */
  /* border-color: rgb(212, 10, 10); */
  /* border-radius: 0.4rem; */
  border-bottom-left-radius: .4rem;
  border-bottom-right-radius: .4rem;
  margin-left: -1.5rem;
  z-index: 2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: 0.2s ease;
}

.black-key:hover {
  background-color: #000000;
  transform: translateY(2px);
}



.record{
  height: 50px;
  width: 50px;
  border-radius: 100%;

  background: rgb(25, 25, 25);
  border: none;
}

.vol-up{
  height:60px;
  width: 60px;
  background: black;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0px solid red;
}
